@charset "utf-8";
/* CSS Document */

/* General */
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
    padding-bottom: 20px;
}
.footer, .push {
	height: 60px; /* .push must be the same height as .footer */
    text-align: center;
}

.tabname {
	font-size:16px;
	display:block;
	font-weight:500;
}


/* Resume Tab */
.collapseBlock {
	padding-left:40px;
	padding-right:16px;
	width:90%;
}

a.panel-heading:after {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	float: left;
    	margin-left: 15px;
}

a.panel-heading.collapsed:after{
	content: "\e080";
}

.experienceBlock {
	border-bottom: 1px solid #eee;
	margin-bottom: 16px;
	padding-bottom: 8px;
}
.jobtitle {
	font-size:18px;
	font-weight:700;
	margin-top: 8px;
	margin-bottom: 8px;
	line-height:1.1;
	display:block;
}
.company {
	font-size:16px;
	font-weight:500;
	display:block;
}
.timespan {
	font-size:14px;
	font-weight:500;
	font-style:italic;
}
.indentBlock {
	padding-top:8px;
}

.rating {
	float:right;
	width:30%
}

/* Side Bar*/
#sidebar.affix {
    top: 15px;
	width: 226px;
}

.bs-docs-section {
    margin-bottom: 60px;
}
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #337ab7;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #337ab7; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
.back-to-top {
  display: block;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
